<!-- Displaying the Hero Object here, use hero.name and hero.id to give ALL the INFO about the Hero -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor='let hero of heroes'
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!-- This Binds the HeroesComponent.selectedHero to the element's hero property - why we use hero instead of selectedHero in hero-detail.component.html -->
<!-- [hero]="selectedHero" is an Angular property binding -->






<!-- Look into MAP here to create a UL and Li's for skills -->
<!-- <div>
  <span>Hero's Attributes: </span>
  <ul>
    <li>{{hero.attributes}}</li>
  </ul>
</div> -->
